@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}

<div>
     <form action="ideas/new" method="post">
        <label>Idea:</label>
        <input type="text" name="idea" value=""/>
        <label>Tags:</label>
        <input type="text" name="tags" value=""/>
        <input type="submit"/>
    </form>
</div>